#///////////////////////////Конфигурация для OLD///////////////
#[include printers/A4P.cfg]
#[include printers/A3P.cfg]

#///////////////////////////Стол A3///////////////////////////
#[heater_generic heater_bed1]
#control = pid
#pid_kp:100
#pid_ki:100
#pid_kd:100

#///////////////////////////БАЗА//////////////////////////
[mcu]
canbus_uuid: #Указать id платы БЭ

[extruder] #Секция конфигурации экструдера
control: pid
pid_kp:100
pid_ki:100
pid_kd:100

[probe] ##Секция конфигурации датчика автокалибровки
z_offset = 0 

[heater_generic chamber] #Нагреватель термокамеры
control: pid
pid_Kp:100
pid_Ki:100
pid_Kd:100

[heater_generic heater_bed0]
control = pid
pid_kp:100
pid_ki:100
pid_kd:100

[input_shaper]