# ==============================================================================
# СЕКЦИЯ 1: КОМАНДЫ LINUX (Определяем, что будут делать команды)
# ==============================================================================

[gcode_shell_command REMOVE]
command: sudo umount -l /media
timeout: 600
verbose: False

[gcode_shell_command DELETE]
command: sudo rm -R /home/biqu/printer_data/gcodes/USB
timeout: 600
verbose: False

[gcode_shell_command INSTALL]
command: sudo mount -L VOLGOBOT /media
timeout: 600
verbose: False

[gcode_shell_command COPY]
command: rsync -avh --include='*.gcode' --include='*/' --exclude='*' --progress --checksum /media/ /home/biqu/printer_data/gcodes/USB/
timeout: 600
verbose: False

[gcode_shell_command BACKUP]
command: bash -c "tar --exclude='*.gz' -czf /home/biqu/printer_data/config/backups/$(hostname)_$(date +%d-%m-%Y).tar.gz /home/biqu/printer_data/config"
timeout: 600
verbose: False

# ==============================================================================
# СЕКЦИЯ 2: МАКРОСЫ (Вызывают команды, описанные выше)
# ==============================================================================

[gcode_macro _USB_REMOVE]
gcode:
  RUN_SHELL_COMMAND CMD=REMOVE
  RUN_SHELL_COMMAND CMD=DELETE
  RESPOND TYPE=echo MSG="USB накопитель демонтирован!"

[gcode_macro _USB_INSTALL]
gcode:
  RUN_SHELL_COMMAND CMD=INSTALL
  RESPOND TYPE=echo MSG="Пожалуйста подождите!"
  RUN_SHELL_COMMAND CMD=COPY
  RESPOND TYPE=echo MSG="USB накопитель установлен!"

[gcode_macro _BACKUP]
gcode:
  RUN_SHELL_COMMAND CMD=BACKUP
  RESPOND TYPE=echo MSG="Бэкап конфигурации сохранен!"

[delayed_gcode BACKUP]
initial_duration: 1.0
gcode:
  _BACKUP

