[include common.cfg]

[stepper_x]
position_endstop: 420
position_max: 420
[stepper_y]
position_endstop: 300
position_max: 300
[stepper_z]
position_endstop: 305
position_max: 306

[heater_generic heater_bed] #Секция конфигурации стола
min_temp:-100
max_temp:220

[heater_generic chamber] #Нагреватель термокамеры
min_temp: -100
max_temp: 270

[bed_mesh]
mesh_min: 30,50 # CAUTION! = probe_xy = nozzle_xy + offset_xy
mesh_max: 230,185 # стол с учетом сдвига на bltouch


# # ============================================================
# # ВТОРОЙ ТЕРМИСТОР СТОЛА (контрольный) - просто отображение
# # ============================================================
# [temperature_sensor bed_safety]
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PB9                           # Пин ВТОРОГО термистора

# # ============================================================
# # ФИКТИВНЫЙ НАГРЕВАТЕЛЬ для контроля второго термистора стола
# # ============================================================
# [heater_generic safety_bed]
# heater_pin: PB10                           # НЕИСПОЛЬЗУЕМЫЙ пин!
# sensor_type: ATC Semitec 104NT-4-R025H42G
# sensor_pin: PB9                           # Второй термистор стола
# control: watermark
# min_temp: 0
# max_temp: 130
# max_power: 0.0                            # ВАЖНО: НЕ ГРЕЕТ!
# target_temp: 60                           # Целевая температура (не достигается)

# # ============================================================
# # ПРОВЕРКА КОНТРОЛЬНОГО ТЕРМИСТОРА СТОЛА
# # ============================================================
# [verify_heater safety_bed]
# max_error: 300
# check_gain_time: 120
# hysteresis: 5
# heating_gain: 2.0


# [heater_generic chamber] #Нагреватель термокамеры
# min_temp: -100
# max_temp: 270

# speed: 50
# horizontal_move_z: 5 # отступ во время проб по оси Z
# mesh_min: 30,50 # CAUTION! = probe_xy = nozzle_xy + offset_xy
# mesh_max: 230,185 # стол с учетом сдвига на bltouch
# probe_count: 4,4 # здесь мы ставим количество точек проб по икс и по игрек
# algorithm: lagrange 
# fade_start: 0.5 #на какой высоте начнем выравнивать модель
# fade_end: 5 #на этой высоте в мм закончим выравнивать.


